.header {
  grid-area: header;
  background-color: #140D27;
  border-bottom: 3px teal solid;
  box-shadow: 0 5px 5px #999;
}

.header img {
  width: 50px;

}

.login_block {
  float: right;
  padding: 10px;
}

.login_block a {
  color: plum;
  font-size: 20px;
}