.app-wrapper {
  width: 992px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr 60px;

  grid-template-areas: "header header" "nav content" "footer footer";
}

.app-wrapper-content {
  grid-area: content;
  background-color: #0e5d77;
  box-shadow: 6px 10px 13px 1px rgba(255,212,255,1);
}
